body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Cinza claro */
}

.container {
    width: 90%;
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
    min-width: 95%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4CAF50; /* Verde */
    color: white;
}

#tabelaCabecalho {
    display: flex;
    justify-content: center;
    align-items: top;
}

#imgDTQ {
    min-width: 300px;
    max-width: 800px;
    height: auto;
    width: 100%;
}

#divImagem {
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

#divPrincipal {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#divTrilhoQuebrado {
    padding-top: 50px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: left;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

#observacoes {
    width: 100%;
    height: 50px;
}

#txtObservacoes {
    width: 100%;
    height: 50px;
}

#Form {
    display: block;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

div {
    padding-top: 10px;
    margin: 10px;
}

#divBondeamento {
    padding-top: 50px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: left;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

#perguntas2 {
    justify-content: space-between;
    margin: 0 auto;
    align-items: left;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

#VPNobservation {
    width: 100%;
    height: 50px;
}


#PresencaTacos, #condicaoJumper, #condicaoAlimentacao, #condicaoLastro, #condicaoTala, #VPNcondicaoTala {
    padding-top: -5px;
    margin: -5px;
}